<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ManagerIO" connectionString="Data Source=.;Initial Catalog=ManagerIO;User ID=sa;Password=juz95934600" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RepsitoryConnectionContext" value="ControlPanel"/>
  </appSettings>
</configuration>